# === Java & Build Artifacts ===
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# === Build Directories ===
target/
build/
out/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# === Logs & Error Dumps ===
*.log
hs_err_pid*
replay_pid*

# === IDEs ===

## IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

## Eclipse
.project
.classpath
.settings/
.loadpath

## VSCode
.vscode/

# === OS-specific ===
.DS_Store
Thumbs.db

# === Environment & Temporary Files ===
.env
*.env
*.ctxt
.mtj.tmp/
bin
