<div method="post" th:object="${article.withdrawalAddress}" th:fragment="adress-form-frag">
    <div class="form-group">
    <input hidden="hidden" type="text" id="id" th:field="*{deliveryAddressId}" required>
    </div>
    <div class="form-group">
    <label for="street">Rue : </label>
    <input type="text" id="street" th:field="*{street}" required>
    </div>
    <div class="form-group">
    <label for="postalCode">Code postal : </label>
    <input type="text" id="postalCode" th:field="*{postalCode}" required>
    </div>
    <div class="form-group">
    <label for="city">Ville : </label>
    <input type="text" id="city" th:field="*{city}" required>
    </div>
</div>