
<form class="articleForm" action="/sell" method="post" th:fragment="article-form-frag" th:object="${article}">
    <div class="form-group">
        <label for="article">Article:</label>
        <input type="text" id="article" th:field="*{name}">
    </div>
    <div class="form-group">
        <!-- CSRF Token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label for="category">Catégorie:</label>
        <!-- aller chercher les catégories dans la bdd-->
        <select id="category" th:field="*{category}">Toutes
            <option th:each="categoryFromList : ${listeCategories}" data-th-value="${categoryFromList.getId()}"
                    data-th-text="${categoryFromList.getName()}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea th:field="*{description}" id="description"></textarea>
    </div>
    <div class="form-group">
        <label for="picture">photo de l'article </label>
        <input type="file" id="picture" accept="image/*" />
        <img src="" alt="">
    </div>

    <div class="form-group">
        <label for="price">Prix initial:</label>
        <input type="number" th:field="*{startingPrice}" id="price"></input>
    </div>
    <div class="form-group">
        <label for="bid-start">Début de l'enchère:</label>
        <input  type="datetime-local" th:field="*{auctionStartDate}" id="bid-start">
    </div>
    <div class="form-group">
        <label for="bid-end">Fin de l'enchère:</label>
        <input type="datetime-local" th:field="*{auctionEndDate}" id="bid-end">
    </div>
    <label> Adresse de retrait : </label>
    <div class="form-group" data-th-replace="~{/fragments/adress_form_fragment :: adress-form-frag}" >
    </div>
    <div class="form-group">
        <button type="submit">Enregistrer</button>
        <button type="submit">Annuler</button>
    </div>
</form>