<form action="/profile/newProduct" method="post" th:fragment="newArticleFormFrag" th:object="${article}">
    <div class="form-group">
        <label for="article">Article:</label>
        <input type="text" id="article" name="article">
    </div>
    <div class="form-group">
        <label for="category">Catégorie:</label>
        <select name="cat" id="category">Toutes
            <option value="informatique">Informatique</option>
            <option value="ameublement">Ameublement</option>
            <option value="vetement">Vêtement</option>
            <option value="s&l">Sports & loisirs</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
    </div>
    <div class="form-group">
        <label for="picture">photo de l'article </label>
        <input type="file" id="picture" accept="image/*" />
        <img src="" alt="">
    </div>

    <div class="form-group">
        <label for="price">Prix initial:</label>
        <select name="price" id="price"></select>
    </div>
    <div class="form-group">
        <label for="bid-start">Début de l'enchère:</label>
        <input type="datetime-local" name="bid-start" id="bid-start">
    </div>
    <div class="form-group">
        <label for="bid-end">Fin de l'enchère:</label>
        <input type="datetime-local" name="bid-end" id="bid-end">
    </div>
    <div class="form-group">
        <label for="delivery-address">Retrait:</label>
        <input type="text" id="delivery-address" name="delivery-address" readonly>
    </div>
    <div class="form-group">
        <button type="submit">Enregistrer</button>
        <button type="submit">Annuler</button>
    </div>
</form>