<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--      data-th-replace="~{layouts/layout :: layout-eni-auction(title=~{:: title},-->
<!--                                                              content=~{:: main},-->
<!--                                                              ressourcesSupp=~{})}">-->

<head>
    <title th:text="'Détail de ' + ${article.getName()}"></title>
</head>

<body>
<main>
    <h1>ENI-Enchères</h1>
    <h2>Détail vente</h2>
    <div class="detail-objet" >
        <h3 th:text="${article.name}"></h3>
        <img src="pic.jpg" alt="">
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" readonly th:value="${article.description}">
        </div>
        <div class="form-group">
            <label for="category">Catégorie:</label>
            <input type="text" id="category" th:name="category" readonly th:value="${article.category.name}">
        </div>
        <div class="form-group">
            <label for="best-bid">Meilleur offre:</label>
            <input type="text" id="best-bid" name="best-bid" readonly th:if="${maxBid != null}" th:value="${maxBid.getAuctionAmount()}">
            <span type="text" id="no-bid" name="best-bid" readonly th:if="${maxBid == null}">Aucune enchere</span>
        </div>
            <label for="best-user">Meilleur encherisseur:</label>
            <input type="text" id="best-user" name="best-user" readonly th:if="${maxBid != null}" th:value="${maxBid.getArticle().getUser().getLastName()}">
            <span id="no-user-bid"  th:if="${maxBid == null}">Aucune enchere</span>

        <div
        <div class="form-group">
            <label for="intial-price">Mise à prix:</label>
            <input type="number" id="intial-price" name="intial-price" readonly th:value="${article.startingPrice}">
        </div>
        <div class="form-group">
            <label for="auction-start">Fin de l'enchère:</label>
            <input type="datetime" id="auction-start" name="auction-start" readonly th:value="${article.auctionStartDate}">
        </div>
        <div class="form-group">
            <label for="auction-end">Début de l'enchère de l'enchère:</label>
            <input type="datetime" id="auction-end" name="auction-end" readonly th:value="${article.auctionEndDate}">
        </div>
        <h4><label for="withdraw_Address">Adresse de retrait :</label></h4>
        <div id="withdraw_Address" th:object="${article.withdrawalAddress}" th:fragment="adress-form-frag">
            <div class="form-group">
                <label for="street">Rue : </label>
                <input readonly type="text" id="street" th:field="*{street}" required>
            </div>
            <div class="form-group">
                <label for="postalCode">Code postal : </label>
                <input readonly type="text" id="postalCode" th:field="*{postalCode}" required>
            </div>
            <div class="form-group">
                <label for="city">Ville : </label>
                <input readonly type="text" id="city" th:field="*{city}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="seller">Vendeur: </label>

            <input type="text" id="seller" name="seller" readonly th:value="${article.user.firstName}+ ' ' +${article.user.lastName}">
        </div>
        <form method= "POST" action="/bid" class="form-group">
            <label for="user-bid">Ma propositon </label>
            <input type="number" name="user-bid" id="user-bid"  th:value="${article.soldPrice}" th:min="${article.soldPrice > article.startingPrice} ? article.soldPrice : article.startingPrice">

            <button type="submit">Enchérir</button>
        </form>
        <div class="form-group">
           <button type="submit"><a href="/">Back</a></button>
        </div>
    </div>
</main>
</body>
</html>