<!DOCTYPE html>
<html data-th-replace="~{layouts/layout :: layout-eni-auction(title=~{:: title},
                                                              content=~{:: main},
                                                              ressourcesSupp=~{})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Détail de ' + ${article.getName()}"></title>
</head>

<body>
<main>
    <div class="detail-objet articleForm">
        <h3 th:text="${article.name}"></h3>
        <img th:alt="${article.getDescription()}" th:src="${article.getImageURL()}">
        <div class="form-group">
            <label for="description">Description:</label>
            <input id="description" name="description" readonly th:value="${article.description}" type="text">
        </div>
        <div class="form-group">
            <label for="category">Catégorie:</label>
            <input id="category" readonly th:name="category" th:value="${article.category.name}" type="text">
        </div>
        <div class="form-group">
            <label for="best-bid">Meilleur offre:</label>
            <input id="best-bid" name="best-bid" readonly th:if="${maxBid != null}" th:value="${maxBid.getBidAmount()}"
                   type="text">
            <span id="no-bid" name="best-bid" readonly th:if="${maxBid == null}" type="text">Aucune enchere</span>
        </div>
        <!--        <div class="form-group">-->
        <!--            <label for="best-user">Meilleur encherisseur:</label>-->
        <!--            <input type="text" id="best-user" name="best-user" readonly th:if="${maxBid != null}" th:value="${maxBid.getArticle().getUser().getLastName()}">-->
        <!--            <span id="no-user-bid"  th:if="${maxBid == null}">Aucune enchere</span>-->
        <!--        </div>-->

        <div class="form-group">
            <label for="intial-price">Mise à prix:</label>
            <input id="intial-price" name="intial-price" readonly th:value="${article.startingPrice}" type="number">
        </div>
        <div class="form-group">
            <label for="auction-start">Début de l'enchère:</label>
            <input id="auction-start" name="auction-start" readonly th:value="${article.auctionStartDate}"
                   type="datetime">
        </div>
        <div class="form-group">
            <label for="auction-end">Fin de l'enchère :</label>
            <input id="auction-end" name="auction-end" readonly th:value="${article.auctionEndDate}" type="datetime">

        </div>
        <h4><label for="withdraw_Address">Adresse de retrait :</label></h4>
        <div id="withdraw_Address" th:fragment="adress-form-frag" th:object="${article.withdrawalAddress}">
            <div class="form-group">
                <label for="street">Rue : </label>
                <input id="street" readonly required th:field="*{street}" type="text">
            </div>
            <div class="form-group">
                <label for="postalCode">Code postal : </label>
                <input id="postalCode" readonly required th:field="*{postalCode}" type="text">
            </div>
            <div class="form-group">
                <label for="city">Ville : </label>
                <input id="city" readonly required th:field="*{city}" type="text">
            </div>
        </div>
        <div class="form-group" type="hidden">
            <input name="userId" readonly th:value="${article.user.id}">
        </div>
        <div class="form-group">
            <label for="seller">Vendeur: </label>
            <a th:href="@{/profile(id=${article.user.id})}">
                <input id="seller" name="seller" readonly
                       style="text-decoration: underline; color: #0056b3; cursor: pointer"
                       th:value="${article.user.firstName}+ ' ' +${article.user.lastName}"
                       type="text">
            </a>
        </div>
        <form action="/bid" class="form-group" method="POST">
            <!-- CSRF Token -->
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>


            <div class="alert alert-warning" th:if="${!connectedUser.isActive}">
                Votre compte est désactivé. Vous ne pouvez pas participer aux enchères.
            </div>


            

            <div th:with="currentDateTime=${#temporals.format(#temporals.createNow(), 'yyyyMMddHHmm')},
                              auctionStartDateTime=${#temporals.format(article.auctionStartDate, 'yyyyMMddHHmm')},
                              auctionEndDateTime=${#temporals.format(article.auctionEndDate, 'yyyyMMddHHmm')}">
                <th:block th:if="${(connectedUser.id!=article.user.id) && (auctionEndDateTime > currentDateTime) && (auctionStartDateTime < currentDateTime)}">

                    <span class="exception" th:each="msg : ${errorMessages}" th:text="${msg}"></span>
                    <label for="user-bid">Ma propositon :</label>
                    <input id="user-bid" name="user-bid"
                           th:disabled="${!connectedUser.isActive}"
                           th:min="${article.soldPrice > article.startingPrice} ? article.soldPrice : article.startingPrice"
                           th:value="${article.soldPrice}"
                           type="number">

                    <button th:disabled="${!connectedUser.isActive}" type="submit">Enchérir</button>
                </th:block>
                <span th:each="msg : ${errorMessages}" th:text="${msg}"></span>
                <th:block th:unless="${connectedUser.id!=article.user.id}">
                    <th:block th:if="${auctionStartDateTime > currentDateTime}">


                        <button th:onclick="'window.location.href=\'' + @{/delete(articleId=${article.id})} + '\''"
                                type="button">
                            Annuler la vente
                        </button>
                    </th:block>
                </th:block>
            </div>
            <!-- Ajout d'un champ caché pour l'ID de l'article -->
            <input name="articleId" th:value="${article.id}" type="hidden"/>
        </form>
        <th:block th:unless="${connectedUser.id!=article.user.id}">
            <div th:with="currentDateTime=${#temporals.format(#temporals.createNow(), 'yyyyMMddHHmm')},
             auctionDateTime=${#temporals.format(article.auctionStartDate, 'yyyyMMddHHmm')}">
                <button th:if="${auctionDateTime > currentDateTime}"
                        th:onclick="'window.location.href=\'' + @{/changeArticle(articleId=${article.id})} + '\''"
                        type="submit">
                    Modifier
                </button>
            </div>
        </th:block>
        <div class="form-group">
            <button onclick="window.location.href='/'" type="submit">Back</button>
        </div>

    </div>
</main>
</body>
</html>