<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-eni-auction(title=~{:: title},
                                                              content=~{:: main},
                                                              ressourcesSupp=~{})}">

<head>
    <title>Modifier mon profil</title>
</head>

<body>
<main>
    <h2>Modifier mon profil</h2>

    <form action="/profile/update" method="post" data-th-object="${user}">
        <div class="exception" th:if="${errorMessages}">
            <span th:each="msg : ${errorMessages}" th:text="${msg}"></span>
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
            <label for="userName">Username:</label>
            <input type="text" th:field="*{userName}" />
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:value="*{lastName}">
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:value="*{firstName}">
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" class="form-control"/>
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" ></div>
            <label for="phoneNumber">Phone:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" th:value="*{phoneNumber}">
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('street')}" th:errors="*{street}" ></div>
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" th:value="*{street}">
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" ></div>
            <label for="postalCode">Postal Code:</label>
            <input type="text" id="postalCode" name="postalCode" th:value="*{postalCode}">
        </div>
        <div class="form-group">
            <div class="text-danger exception" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" ></div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" th:value="*{city}">
        </div>

        <!--        <div class="form-group">-->
        <!--            <label for="oldPassword">Previous password:</label>-->
        <!--            <input type="password" id="oldPassword" name="oldPassword">-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--            <label for="newPassword">New password:</label>-->
        <!--            <input type="password" id="newPassword" name="password">-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--            <label for="confirmPassword">Confirm Password:</label>-->
        <!--            <input type="password" id="confirmPassword" name="confirmPassword">-->
        <!--        </div>-->
        <p>Credit: <span th:text="*{credit}"></span></p>
        <button type="submit">Save</button>
        <button type="button" onclick="window.location.href='/profile/delete'">Delete my account</button>
        <button type="button" onclick="window.location.href='/'">Back</button>

    </form>
</main>
</body>

</html>