<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/headfrag :: head('ENI Auctionszeer')}"></head>

<body>
<h1>ENI-Auctions</h1>
<div class="sIsU">
    <th:block data-th-if="${connectedUser != null && connectedUser.getId() > 0}">
        <a href="logout">
            <p>Se déconnecter</p>
        </a>
        <a href="profile">
            <p>Mon profil</p>
        </a>
    </th:block>
    <th:block data-th-unless="${connectedUser != null && connectedUser.getId() > 0}">
        <a href="signIn">
            <p>S'inscrire</p>
        </a>
        <p>-</p>
        <a href="login">
            <p>Se connecter</p>
        </a>
    </th:block>
</div>
<div class="filtres">
    <h2>Filtres :</h2>
    <label for="cat">Catégories</label>
    <select name="cat" id="cat">
        <option value="informatique">Informatique</option>
        <option value="ameublement">Ameublement</option>
        <option value="vetement">Vêtement</option>
        <option value="s&l">Sports & loisirs</option>
    </select>
    <input type="text" placeholder="Search..">
    <button type="submit">rechercher</button>

</div>
<div class="articles">
    <div class="single-article" th:each="a : ${article}">
        <img src="img/pic.jpg" alt="">
        <div class="article-infos">
            <h5 th:text="${a.name}">Exemple</h5>
            <p>Prix: </p>
            <p>Classement: </p>
          	<p th:text="${'Fin de lenchère : ' + a.auctionEndDate}">Fin de l'enchère: </p>
            <!--<p th:text="'Retrait : ' + ${a.withdrawalAddress.street} + ' ' + ${a.withdrawalAddress.city} + ' ' + ${a.withdrawalAddress.postalCode}">Retrait: </p>-->
            <p th:text="'Vendeur : ' + ${a.user.firstName} + ' ' + ${a.user.lastName}">Vendeur: </p>
            <button th:href="@{/detailArticle(id=${a.id})}">Détail de la vente</button>
        </div>
    </div>
   
</div>
</body>

</html>