<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/frag :: head('ENI-Enchères')}"></head>

<body>
    <h1>ENI-Auctions</h1>
    <div class="sIsU">
    <a href="singIn">
    <p>S'inscrire</p>
    </a>
    <p>-</p>
    <a href="login">
    <p>Se connecter</p>
    </a>
    </div>
    <div class="filtres">
        <h2>Filtres :</h2>
        <label for="cat">Catégories</label>
        <select name="cat" id="cat">Toutes
            <option value="informatique">Informatique</option>
            <option value="ameublement">Ameublement</option>
            <option value="vetement">Vêtement</option>
            <option value="s&l">Sports & loisirs</option>
        </select>
        <input type="text" placeholder="Search..">
        <button type="submit">rechercher</button>

    </div>
    <div class="articles">
        <div class="single-article">
            <img src="pic.jpg" alt="">
            <div class="article-infos">
                <h5>Exemple</h5>
                <p>Prix: </p>
                <p>Classement: </p>
                <p>Fin de l'enchère: </p>
                <p>Retrait: </p>
                <p>Vendeur: </p>
            </div>
        </div>
        <div class="single-article">
            <img src="img/pic.jpg" alt="">
            <div class="article-infos">
                <h5>Exemple</h5>
                <p>Prix: </p>
                <p>Classement: </p>
                <p>Fin de l'enchère: </p>
                <p>Retrait: </p>
                <p>Vendeur: </p>
            </div>
        </div>
    </div>
</body>

</html>