<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/headfrag :: head('ENI Auctionszeer')}"></head>

<body>
    <h1>ENI-Enchères</h1>
    <div class="exception" th:if="${errorMessages}">
    
        <span th:each="msg : ${errorMessages}" th:text="${msg}"></span>
    
	</div>
    
    <form action="/login" method="post">
        <label for="userName">Identifiant :</label>
        <input type="text" id="userName" name="userName" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Connexion</button>

        <div class="checkbox-container">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Se souvenir de moi</label>
        </div>

        <div class="forgot-password">
            <a href="/forgot-password">Mot de passe oublié</a>
        </div>
    </form>

    <button class="create-account" type="submit">Créer un compte</button>
</body>

</html>