<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-eni-auction(title=~{:: title},
                                                              content=~{:: main},
                                                              ressourcesSupp=~{})}">

<head th:replace="~{fragments/header-fragment :: header-frag}"></head>

<title th:text="'Nouvelle vente de ' + ${connectedUser.userName}"></title>
<body>
<main>
 <Form data-th-replace="~{fragments/article-form-fragment :: article-form-frag }"></Form>
</main>
</body>

</html>