<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-eni-auction(title=~{:: title},
                                                              content=~{:: main},
                                                              ressourcesSupp=~{})}">

<head>
    <title>Auctions List</title>
</head>
<body>
<main>
    <h1>ENI-Auctions</h1>
    <h2>Create an Account</h2>

    <form data-th-replace="~{fragments/newUserFormFrag :: newUserFormFrag}"></form>
</main>
</body>

</html>