<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-eni-auction(title=~{:: title},
                                                              content=~{:: main},
                                                              ressourcesSupp=~{})}">

<head>
    <title>Create an Account</title>
</head>
<body>
<main>
    <h1>ENI-Auctions</h1>
    <h2>Create an Account</h2>

    <div class="exception" th:if="${errorMessages}">
        <span th:each="msg : ${errorMessages}" th:text="${msg}"></span>
    </div>

    <form data-th-replace="~{fragments/new-user-form-fragment :: new-user-form-frag}"></form>
</main>
<script src="/js/sIScript.js"></script>
</body>

</html>